NEXT_PUBLIC_SITE_URL=https://recolleta-financial.example.com
NEXT_PUBLIC_DEMO_ANNUAL_INTEREST_RATE=12
NEXT_PUBLIC_WEBHOOK_URL=https://n8n.srv939555.hstgr.cloud/webhook/submit-forms-curated

COMMERCIAL_NAME=COMMERCIAL_NAME
COMMERCIAL_EMAIL=COMMERCIAL_EMAIL
COMMERCIAL_IDENTIFIER=COMMERCIAL_IDENTIFIER
